<div class="feature-wrapper" style="">
  <div class="feature-overlays" style="">
      <a href="{{ include.url_0 }}"{% if include.newwin_0 %} target="_blank"{% endif %} id="overlay-0" class="feature-overlay center" style="top: 35%; left: 35%; width: 28%; height: 28%;">
        <span class="title">{{ include.title_0 }}</span>
      </a>

      <a href="{{ include.url_1 }}"{% if include.newwin_1 %} target="_blank"{% endif %} id="overlay-1" class="feature-overlay top-left" style="top: 0%; left: 0%;">
        <span class="title">{{ include.title_1 }}</span>
      </a>
      <a href="{{ include.url_1 }}"{% if include.newwin_1 %} target="_blank"{% endif %} id="overlay-1b" class="feature-overlayb top-left" style="top: 26.5%; left: 0%;"></a>

      <a href="{{ include.url_2 }}"{% if include.newwin_2 %} target="_blank"{% endif %} id="overlay-2" class="feature-overlay top-right" style="top: 0%; right: 0%;">
        <span class="title">{{ include.title_2 }}</span>
      </a>
      <a href="{{ include.url_2 }}"{% if include.newwin_2 %} target="_blank"{% endif %} id="overlay-2b" class="feature-overlayb top-right" style="top: 26.5%; right: 0%;"></a>

      <a href="{{ include.url_3 }}"{% if include.newwin_3 %} target="_blank"{% endif %} id="overlay-3" class="feature-overlay bottom-left" style="bottom: 0%; left: 0%;">
        <span class="title">{{ include.title_3 }}</span>
      </a>
      <a href="{{ include.url_3 }}"{% if include.newwin_3 %} target="_blank"{% endif %} id="overlay-3b" class="feature-overlayb bottom-left" style="bottom: 29%; left: 0%;"></a>

      <a href="{{ include.url_4 }}"{% if include.newwin_4 %} target="_blank"{% endif %} id="overlay-4" class="feature-overlay bottom-right" style="bottom: 0%; right: 0%;">
        <span class="title">{{ include.title_4 }}</span>
      </a>
      <a href="{{ include.url_4 }}"{% if include.newwin_4 %} target="_blank"{% endif %} id="overlay-4b" class="feature-overlayb bottom-right" style="bottom: 29%; right: 0%;"></a>
  </div>

  <div class="feature-background-wrapper" style="">

    <svg version="1.1" id="features_panel" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
       viewBox="0 0 480 480" style="" xml:space="preserve">
      <style type="text/css">
        
      </style>

      <a xlink:href="#" title="Story 1" accesskey="1">
        <clipPath id="story-1">
          <path class="st0" d="M126,231H1V1h230v125C173,126,126,173,126,231z"></path>
        </clipPath>
        <image id="image-1" clip-path="url(#story-1)" width="230" height="230" xlink:href="{{ include.img_1 }}" x="0" y="0" role="image" title=""></image>

      </a>

      <a xlink:href="#" title="Center Story" accesskey="0" transform="translate(39 38)">
        <clipPath id="story-0">
          <circle class="st0" cx="200" cy="200" r="100"></circle>
        </clipPath>
        <image id="image-0" clip-path="url(#story-0)" width="200" height="200" xlink:href="{{ include.img_0 }}" x="100" y="100" role="image" title=""></image>
      </a>

      <a xlink:href="#" title="Story 2" accesskey="2">
        <clipPath id="story-2">
          <path class="st0" d="M249,126V1h230v230H354C354,173,307,126,249,126z"></path>
        </clipPath>
        <image id="image-2" clip-path="url(#story-2)" width="230" height="230" xlink:href="{{ include.img_2 }}" x="250" y="0" role="image" title=""></image>
      </a>

      <a xlink:href="#" title="Story 3" accesskey="3">
        <clipPath id="story-3">
          <path class="st0" d="M231,354v125H1V249h125C126,307,173,354,231,354z"></path>
        </clipPath>
        <image id="image-3" clip-path="url(#story-3)" width="230" height="230" xlink:href="{{ include.img_3 }}" x="0" y="250" role="image" title=""></image>
      </a>

      <a xlink:href="#" title="Story 4" accesskey="4">
        <clipPath id="story-4">
          <path class="st0" d="M354,249h125v230H249V354C307,354,354,307,354,249z"></path>
        </clipPath>
        <image id="image-4" clip-path="url(#story-4)" width="230" height="230" xlink:href="{{ include.img_4 }}" x="250" y="250" role="image" title=""></image>
      </a>
    </svg>
  </div>
</div>