---
layout: default
---

<div class="issue">
  <h2>issue {{ page.number }}: <em>{{ page.title }}</em></h2>
  {{ content }}

  <h2>Stories</h2>
  <ul>
  {% for storyTitle in page.stories %}
    {% assign story = site.stories | where:"title", storyTitle  | first %}
    <li>{{ story.title }} - <img style="width: 64px; height: auto;" src="{{ story.featured_image }}" /></li>
  {% endfor %}
  </ul>

  <h3>Previous Issues:</h3>
  <ul>
{% for issue in site.issues %}
  {% unless issue.hidden %}
    <li><a class="post-link" href="{{ issue.url | relative_url }}">{{ issue.number }}: {{ issue.title }}</a></li>
  {% endunless %}
{% endfor %}   
  </ul>

</div>

